<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Login and Registration Form in HTML & CSS | CodingLab</title>
    <link rel="stylesheet" href="login_signup.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50d2ae4ecf.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav>
        <a href="/"> <p>Home</p></a>
    </nav>
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <img src="./Images/login.gif" alt="">
            <!-- <div class="text">
                <span class="text-1">Every new EVENT is a <br> new adventure</span>
                <span class="text-2">Let's get connected</span>
            </div> -->
        </div>
        <div class="back">
            <img class="backImg" src="./Images/login.gif" alt="">
            <!-- <div class="text1">
                <span class="text-1">Complete miles of journey <br> with one step</span>
                <span class="text-2">Let's get started</span>
            </div> -->
        </div>
    </div>
		<div class="forms">
			<div class="form-content">
				<div class="login-form">
					<div class="title">Login</div>
				
					<form action="/login" method="POST" onsubmit="return validateLoginForm()">
						<div class="input-boxes">
							<div class="input-box">
								<i class="fas fa-envelope"></i>
								<input type="email" id="login-email" name="email" placeholder="Enter your email" required>
								
							</div>
							<div class="input-box password-toggle">
								<i class="fas fa-lock"></i>
								<input type="password" id="login-password" name="password" placeholder="Enter your password" required>
								<i class="fas fa-eye" id="password-toggle"></i> <!-- Eye icon -->
								
							</div>
							<% if (error) { %>
								<div class="error" id="error-message"><%= error %></div>
								<script>
									// Set timeout to hide the error message after 5 seconds
									setTimeout(function() {
										var errorMessage = document.getElementById('error-message');
										errorMessage.style.opacity = '0';
										
									}, 5000); // Adjust the timeout duration as needed (in milliseconds)
								</script>
							<% } %>
							<div class="text"><a href="#">Forgot password?</a></div>
							<div class="button input-box">
								<input type="submit" value="Submit">
							</div>
							<div class="text sign-up-text">Don't have an account? <label for="flip">Sign up now</label></div>
						</div>
					</form>
				</div>
				<div class="signup-form">
					<div class="title">Signup</div>
					<div id="signup-name-error" class="error"></div>
					<div id="signup-email-error"  class="error"></div>
					<div id="signup-phone-error"  class="error"></div>
					<div id="signup-password-error"  class="error"></div>
					<div id="programme-error-message"  class="error"></div>
					<form>
						<div class="input-boxes">
							<div class="input-box">
								<i class="fas fa-user"></i>
								<input type="text" id="signup-name" name="name" placeholder="Enter your name" required>
								
							</div>
							<div class="input-box">
								<i class="fas fa-envelope"></i>
								<input type="email" id="signup-email" name="email" placeholder="Enter your email" required>
								
							</div>
							<div class="input-box">
								<i class="fas fa-phone"></i>
								<input type="tel" id="signup-phone" name="phone" placeholder="Phone Number" required="">
								
							</div>
							<div class="input-box password-toggle">
								<i class="fas fa-lock"></i>
								<input type="password" id="signup-password" name="password" placeholder="Enter your password" required>
								<i class="fas fa-eye" id="signup-password-toggle"></i> <!-- Eye icon -->
								<!-- <div id="signup-password-error" class="error"></div> -->
							</div>
							<div class="input-select">
								<div id="programme-error-message" class="error"></div>
								<div class="input-select-dept">
									<select id="programme" name="programme" onchange="showDepartments()">
										<option value="">Select Programme</option>
										<option value="engineering">Bachelor of Engineering/Technology Programmes</option>
										<option value="science">Bachelor of Science Programmes</option>
										<option value="master">Master of Engineering/Technology Programmes</option>
										<option value="postgradscience">Post Graduate Programmes in Science</option>
									</select>
								</div>
								<div id="departmentDiv" style="display: none;" class="input-select-dept">
									<select id="department" name="department" onchange="showYears()">
										<option value="">Select Department</option>
									</select>
								</div>
								<div id="yearDiv" style="display: none;" class="input-select-year">
									<select id="year" name="year">
										<option value="">Select Year</option>
									</select>
								</div>
							</div>
							<div class="button input-box">
								<input type="button" onclick="handleSignUp()" value="Submit">
							</div>
							<div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="login_signup.js"></script>
	</body