body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  margin: 0px !important;
}

.main-container {
  margin: 0px 25px 25px 25px;
}

h1 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.card {
  margin: 0;
  padding-top: 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px #afafaf;
  transform: scale(1.01);
}

.card__link {
  position: relative;
  text-decoration: none;

}

.card__title {
  font-weight: 600;
  font-size: 30px;
  padding-left: 15px;
}


.card__link {
  margin: 0;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 450;
  text-align: justify;
}

/* CARD BACKGROUNDS */

.card-0 {
  grid-column: span 3;
  grid-row: span 1;
  padding: 0;
  background: rgb(221, 221, 221);
  border-radius: 20px;
}

.card-0 h1 {
  color: #4250ca;
}

.card-1 {
  grid-column: span 2;
  grid-row: span 2;
  padding: 0;
  background-image: linear-gradient(#466dce, #5075d3);
  color: #fff;
}

.card-1 h2 {
  color: rgb(255, 255, 255);
  margin: 0%;
  /* background-color: #414141; */
  background-image: linear-gradient(316deg, #6515c1 0%, #6515c1 74%);
  width: fit-content;
  padding-right: 2%;
  margin-left: 2%;
  margin-top: -15px;
  border-radius: 8px;
  margin-right: 3%;
}

.card-1 .card__link {
  color: white;
}


.card-2 {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Center horizontally */
  color: #ffffff;
  background: #ffffff;
  border-radius: 10px;
  padding-top: 0%;
  padding: 5px;
}

.buttonregister {
  font-weight: 600;
  font-size: 30px;
  padding: 20px;
  /* Adjust padding as needed */
  border-radius: 10px;
  border: 5px solid #5200ae;
  color: #5200ae;
  background: none;
  width: 100%;
  /* Match width to parent container */
  height: 100%;
}

.buttonregister:hover {
  color: #f9f9f9;
  background-image: linear-gradient(316deg, #4062bb 0%, #6515c1 74%);


}

.card-2:hover {
  box-shadow: none;
}

.card-3 {
  grid-column: span 1;
  grid-row: span 2;
  padding-top: 0;
  /* background-image: radial-gradient(#28b4ff, #068fff); */
  background-image: linear-gradient(#466dce, #5075d3);

  color: #fff;
}

.card-3 h2 {
  color: rgb(255, 255, 255);
  margin: 0%;
  /* background-color: #414141; */
  background-image: linear-gradient(316deg, #6515c1 0%, #6515c1 74%);
  width: fit-content;
  padding-right: 2%;
  margin-left: 3.5%;
  margin-top: -15px;
  border-radius: 8px;
  margin-right: 3%;
}

.card-4 {
  grid-column: span 1;
  grid-row: span 3;
  padding-top: 0;
  /* background-image: radial-gradient(#28b4ff, #068fff); */
  background-image: linear-gradient(#466dce, #5075d3);
  color: #fff;
}

.card-4 h5 {
  color: rgb(255, 255, 255);
  margin: 0%;
  /* background-color: #414141; */
  background-image: linear-gradient(316deg, #6515c1 0%, #6515c1 74%);
  width: fit-content;
  padding-right: 2%;
  margin-left: 3.5%;
  margin-top: -15px;
  border-radius: 8px;
  margin-right: 3%;
}

.card-4 .card__link {
  color: white;
}

.card-5 {
  grid-column: span 1;
  grid-row: span 1;
  padding-top: 0;
  /* background-image: radial-gradient(#28b4ff, #068fff); */
  background-image: linear-gradient(#466dce, #5075d3);
  color: #fff;
}

.card-5 h2 {
  color: rgb(255, 255, 255);
  margin: 0%;
  /* background-color: #414141; */
  background-image: linear-gradient(316deg, #6515c1 0%, #6515c1 74%);
  width: fit-content;
  padding-right: 2%;
  margin-left: 3.5%;
  margin-top: -15px;
  border-radius: 8px;
  margin-right: 3%;
}

.card-6 {
  grid-column: span 2;
  grid-row: span 2;
  padding-top: 0;
  /* background-image: radial-gradient(#28b4ff, #068fff); */
  background-image: linear-gradient(#466dce, #5075d3);
  color: #fff;
}

.card-6 h2 {
  color: rgb(255, 255, 255);
  margin: 0%;
  /* background-color: #414141; */
  background-image: linear-gradient(316deg, #6515c1 0%, #6515c1 74%);
  width: fit-content;
  padding-right: 2%;
  margin-left: 1%;
  margin-top: -15px;
  border-radius: 8px;
}

.card-6 .card__link {
  margin-left: 2%;
}

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card.card-3 {
    order: 4;
    /* Move card-3 to the fourth position */
  }

  .card.card-4 {
    order: 3;
    /* Move card-4 to the third position */
  }

  .card.card-2 {
    order: 7;
  }

  .card {
    width: 80%;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media screen and (max-width: 1200px) {
  .card-4 {
    grid-column: span 2;
    grid-row: span 2;

  }

  .card-5 {
    grid-column: span 1;
    grid-row: span 2;

  }

  .card-6 {
    grid-column: span 2;
    grid-row: span 1;

  }

  .card-0 h1 {
    font-size: 30px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-bottom: 5%;

  }

}

@media screen and (max-width: 770px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0px;
  }

  body {
    margin: 0px;
  }

  .main-container {
    margin: 0px 0x 25px 0px;
  }

  .card-6 {
    padding-left: 2%;
  }

  .card-0 {
    text-align: center;
    margin-left: 10%;
  }

  .card-1 h2 {
    margin-left: 4%;
  }

  .card__title {
    font-weight: 600;
    font-size: 20px;
    padding-left: 8px;
  }

  .card__link {
    font-size: 15px;
  }

  .card-0 h1 {
    font-size: 30px;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 10%;
  }
  footer{
    flex-direction: column;
    font-size: 10px;
    padding: 25px
}
footer h2{
    font-size: 15px;
}
}



nav {
  background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

}


#nav-links {
  display: flex;
  gap: 30px;
  /* Adjusted from 50px */
}

#nav-links a {
  text-decoration: none;
  color: #fcfcfc;
  font-size: 18px;



}

#nav-links a:hover {
  color: #96f6ff;

}


#menu-icon {
  display: none;
  cursor: pointer;
  color: #2d1056;
}


#dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 107px;
  right: 0;
  min-width: 40%;
  z-index: 100;
  /* min-height: 140px; */
  background: linear-gradient(to left, #E1F4FE 25%, rgba(102, 115, 240, 0)),
    linear-gradient(to bottom, #6ec4f2 5%, rgba(102, 115, 240, 0));
  border: 3px solid #3ae5f8;
}

#dropdown a {
  text-align: center;
  color: #481099;
  padding: 20px;
  text-decoration: none;
  background-color: #fff;
  font-size: 18px;
}

.dropdown {
  display: none;
  /* Hide dropdown by default */
  position: absolute;
  top: 8%;
  right: 0;
  background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  z-index: 1;
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  padding: 5px 15px;
}


/* Show dropdown when active class is applied */
.dropdown.active {
  display: block;
}

.heading {
  height: 10%;
}

@media only screen and (max-width: 770px) {
  #nav-links {
    display: none;
  }

  .landleft {
    display: none;
  }

  .landlefti {
    display: flex;
  }

  #menu-icon {
    display: block;
    font-size: 44px;
    border-radius: 20px;
  }

  #menu-icon:hover {
    border-bottom: none;
  }

  .land {
    flex-direction: column;
  }

  .landleft {
    width: 50%;
  }

  nav {
    padding: 10px;
  }

  .landright {
    flex: 1;
  }

  .text1 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .text1 h1 {
    font-size: 250%;
  }

  .about {
    flex-direction: column;
  }

  .abright {
    margin-left: 0%;
  }

  .abright img {
    width: 400px;
  }

  .landright {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .tmarch {
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }

  .ft-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) and (min-width: 769px) {
  #nav-links {
    gap: 20px;
    /* Adjusted from 35px */
  }

  .about img {
    width: 80%;
  }

  .landright {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .tmarch {
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }

  .text1 {
    margin: 0;
  }
}

.fa-brands.fa-instagram.fa-2x {
  color: #48eaef; 
  transition: color 0.3s ease;
}

.fa-brands.fa-instagram.fa-2x:hover {
  color: #ff0000;
}
footer{
  
   background-color: #5200ae;

   display: flex;
   color: #fff;
   justify-content:space-evenly;
  padding: 5px 50px;
  flex-wrap: wrap;

   
   
  
}
.scf{
  display: flex;
  flex-direction: column;

}
.socials{
   display: flex;
   gap: 30px;
   
}
.scftext{
   margin:0px;
   height: 70px;
}
.scftext p{
  margin: 0;
}
.scs{
   margin-right: 90px;
}
footer h2{
   font-size: 26px;
}

.fa-brands.fa-instagram.fa-2x {
   color: #48eaef; 
   transition: color 0.3s ease;
}

.fa-brands.fa-instagram.fa-2x:hover {
   color: #ff0000;
}

#logo {
  max-width: 300px;
  color: rgb(255, 255, 255);
}

.boujee-text {
  font-size: 15px;
}
.boujee-text {
  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);

  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / 100% 100%;
}
.boujee-text {
  --bg-size: 400%;
  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);
 
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
}
@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
.boujee-text {

  --color-one: hsl(171, 90%, 55%);
  --color-two: hsl(300, 99%, 63%);

  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one),
                #fff
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}
@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 15s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}